/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*Стилизация кнопки Like*/

.button-initial-styles {
  box-shadow: initial;
  background-color: initial;
  border: initial;
  cursor: pointer;
}

.card__like-button {
  font-family: var(--accent-font);
  outline: var(--outline);
  position: relative;
  overflow: hidden;
  inline-size: 127px;
  block-size: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__text-button:hover::after {
  cursor: pointer;
  transform: translateX(0);
}

.card__like-button::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  position: absolute;
  left: 0px;
  top: 0px;
}

.like-icon {
  width: 40px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  padding: 0;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid #000;
}

.button__text {
  mix-blend-mode: difference;
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: var(--accent-font-button-size);
}

/*Анимация :hover*/

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--main-body);
  transition: fill 0.3s linear;
}
.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-body);
  transition: fill 0.3s 0.05s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

/*Анимация :active*/

.like-icon:active .core {
  fill: var(--animation-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-sparks-color);
  transition: fill 0.3s 0.05s linear;
}

/*Анимация :click*/

.like-icon.is-liked .contour {
  fill: var(--animation-sparks-color);
  transition: fill 0.3s 0.06s linear;
}
.like-icon.is-liked .core {
  fill: var(--animation-sparks-color);
  transition: fill 0.3s 0.12s linear;
}
.like-icon.is-liked .main-body {
  fill: var(--animation-sparks-color);
  transition: fill 0.3s 0.18s linear;
}

/*Анимация*/

.like-icon.is-liked .heart {
  animation-name: animation;
  animation-duration: 0.3s;
  animation-delay: 0.28s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transform-origin: center center;
  animation-play-state: running;
}

@keyframes animation {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
