/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--font-weight-card-text);
  inline-size: var(--desktop-width);
  background-color: blanchedalmond;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-width: 1440px;
  background-image: var(--bg-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

/*Шапка*/

.desktop-width {
  width: var(--content-width);
}

.header {
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--card-bg-color);
  margin-block-end: 102px;
  margin-block-start: 100px;
  outline: var(--outline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 127px 0;
}

.header-title {
  display: grid;
  font-size: var(--logo-font-size);
  grid-column: 1 / -1;
  grid-row: 1 / auto;
}

.header-text {
  font-size: var(--text-logo-font-size);
  grid-column: 1 / -1;
  grid-row: 2 / auto;
  margin-block-start: 20px;
}

/*Карточки*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-section {
  max-width: 696px;
}

.card {
  background-color: var(--card-bg-color);
  outline: var(--outline);
}

.card:not(:first-child) {
  margin-block-start: 55px;
}

.card-title {
  font-variation-settings: "wght" var(--font-weight-card-title);
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid #000;
}

.card-text {
  font-size: var(--card-font-size);
  padding: 24px 25px 3px 25px;
  line-height: 21px;
}

.extra-border {
  border-top: 2px solid #000;
  margin-top: -4px;
}

.save-icon-save{
  block-size: 21px !important;
  inline-size: auto !important;
}

/*Лейбл*/
.lable {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--accent-font-button-size);
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  opacity: 0.5;
}

@supports (text-stroke: var(--text-stroke)) or
  (-webkit-text-stroke: var(--text-stroke)) {
  .lable {
    text-stroke: var(--text-stroke);
    -webkit-text-stroke: var(--text-stroke);
    text-shadow: none;
  }
}

.img-logo {
  position: relative;
}

/*Лайк*/

.elements {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
  margin-right: 25px;
  padding: 22px 2px;
  align-items: center;
}

.card__icon-button {
  outline: initial;
}

/*Стилизация нижней кнопки*/

.card__text-button {
  font-family: var(--accent-font);
  font-size: var(--accent-font-button-size);
  text-align: left;
  line-height: 1.5em;
  display: flex;
  gap: 10px;
  padding: 12px 17px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.button-black-affect::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  position: absolute;
  left: 0px;
  top: 0px;
}

/*Кнопки Like, Сохранить на память, OK*/

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 2px #000;
  transition: box-shadow 0.3s ease;
  outline: 2px solid #000;
}

.card__text-button:focus-visible {
  box-shadow: 2px 2px 0px 2px #000;
  transition: box-shadow 0.3s ease;
  outline: 2px solid #000;
}

.card-save-button:focus-visible {
  box-shadow: none;
  outline: none;
}

.card__like-button:hover {
  animation: like 0.5s ease-in-out;
  color: #fff;
}

.card__like-button:hover::after {
  transform: translateX(0);
  animation: like 0.5s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--outline);
  transition: 0.3s ease;
}

/*Сохранение*/

.save-button-content {
  outline: var(--outline);
  max-inline-size: 335px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg-color);
  margin-block-start: 54px;
  margin-block-end: 105px;
}

.button__text-floppy {
  font-size: var(--accent-font-button-size);
  white-space: nowrap;
  font-weight: var(--font-weight-card-text);
  padding: 0;
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  outline: 2px solid #000 !important;
}

.button__text::after:hover {
  transform: translateX(0%);
}

.card__floppy-button {
  outline: initial;
  padding: 0;
  pointer-events: none;
}

/*Вставьте дискету*/

.button-save {
  text-transform: uppercase;
  white-space: initial;
  font-size: var(--accent-font-button-size);
  pointer-events: none;
}

.ok-button {
  width: 100%;
  text-transform: uppercase;
  outline: 2px solid #000;
  padding: 7px 10px;
  text-align: center;
}

.card-save-button {
  padding: 0;
  pointer-events: none;
}

.card-save-button::after {
  content: "";
  background-color: #fff;
  mix-blend-mode: none;
  transform: none;
}

.floppy-icon {
  width: 41px;
  height: 38px;
}
.insert-floppy {
  display: flex;
  gap: 20px;
  align-items: center;
  outline: none;
  padding: 0;
  margin-block-end: 32px;
  font-family: var(--accent-font);
  line-height: 21px;
}

.dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
  padding: 0;
}

.dialog-content {
  max-width: 325px;
  box-sizing: border-box;
  margin: 13px;
  padding: 16px 15px;
}

.dialog {
  padding: 0;
}

/*Карточки +фильтр*/
.card-img {
  filter: sepia(2) contrast(4) brightness(170);
  height: 100%;
  width: 100%;
}

.card-img-brightness {
  filter: brightness(200%);
}

.card-img-contrast {
  filter: contrast(200%);
}

.card-img-blur {
  filter: blur(10px);
}

.card-img-opacity {
  filter: opacity(0.7);
}

.img-logo-grayscale {
  filter: grayscale(100%);
}

.img-logo-sepia {
  filter: sepia(90%);
}

.card-img-hue-rotate {
  filter: hue-rotate(-90deg);
}

.save-icon {
  mix-blend-mode: difference;
  color: #fff;
  z-index: 2;
  width: 28px;
  height: 28px;
  position: relative;
}

.button-initial-styles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Медиазапросы*/

@media (width <= 375px) {
  .page {
    inline-size: var(--mob-width);
    min-inline-size: 375px;
  }
  .header {
    width: 100%;
    padding: 121px 0;
  }
  .content-section {
    max-width: 100%;
  }

  .save-icon-save{
    block-size: 28px !important;
    inline-size: auto !important;
  }
  

  .lable {
    right: 15px;
    top: 21px;
  }
  .card__text-button {
    gap: 7px;
  }
  .button-initial-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dialog-content {
    padding: 18px 23px;
  }
}

@media (width <= 694px) {
  .img-logo img {
    height: 100%;
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
